body{
  background-color: #202d3c;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  color: #49d05c ;
}

label{
  text-transform: uppercase;
  font-weight: bold;
}


/* HEADER  */
header{
  background-color: #08131f;
  height: 80px;
  width: 100%;
  color: #49d05c;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .col h1{
  line-height: 80px;
  font-size: 3rem;
}

main{
  margin-top: 80px;
}

/* ICONE  */
i{
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 10px;
}

.wishlist{
  color: red;
}

/* CARD  */
.em_card {
  background-color: transparent;
  aspect-ratio: 1;
  cursor: pointer;
}




.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-front {
background-color: black ;
color : #49d05c  ;
text-align: center;
line-height: 400px;
text-transform: uppercase;
font-weight: bold;
}

.poster{
  height: 100%;
  width: 100%;
}

.card-back {
  opacity: 0;
  padding: 0;
  transition: 0.5s linear;
  color: white;
}

.borders{
  border: 3px solid #49d05c;
  opacity: 0;
  transition: 0.7s ease-in-out;
  animation: mymove 0.4s ease-out ;  
}
.borders p{
  font-size: 1.5rem;
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.borders strong{
  color: #49d05c ;
}


    
    
.card-back.active{
  opacity: 1;
  padding: 8px;
}

.borders.active{
  opacity: 1;
  border-radius: 10px;
}
.borders p.active{
  opacity: 1;
}

.card-front.active{
  filter: grayscale(1) brightness(0.4);
}     


@keyframes mymove {
  0%{
    border-radius: 0px;
  }
  25%{
    border-radius: 2px;
  }
  50%{
    border-radius: 5px;
  }
  75%{
    border-radius: 7px;
  }
  100%{
    border-radius: 10px;
  }

}



